.masterContainer {
    height: 100vh;
    .btnContainer{
      margin:6px 0px !important;
      padding: 5px !important;  
    }
}

.left_Container {
    background: white;
    height: calc(100vh);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.right_Container {
    /* background-color: red; */
    background-image: url('../../Images/banner.jpg');
    height: calc(100vh);
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
}

.pos_abs {
    font-size: 11px;
    margin-top: 1rem;
}

.backImage{
    background-image: url('../../Images/banner.jpg') !important;
    position: relative !important;
    background-size: cover;
    opacity: 0.9;
    padding: 1rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; 
}

.login2_le {
    background-image: url('../../Images/ship1.jpg') !important;
    /* position: relative !important;
    background-size: cover;
    opacity: 0.9;
    padding: 1rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;  */
    background-size: cover;

}

.inside_box {
    padding: 4.8rem 0;
    color: white;
    width: 21rem;

}

.subContainer .MuiGrid-item {
    padding-left: 0px !important;
}

.login_description {
    padding: 8rem 5.5rem;
    color: white;
}

@media only screen and (min-width: 320px) and (max-width: 959px)  {

    .right_Container{
      display: none !important;
    }
    .lg_sec_child{
        width:27rem !important;
    }
    .subContainer .MuiGrid-item{
        padding: auto !important;
    }
    .pos_abs{
        text-align: center;
    }
}
.for_drm span{
    font-size: 12px;
}