.headerContainer{
    width: 100%;
    margin: 0.2rem 0px 1rem 0rem;
    padding: 0.2rem 1rem;
    box-shadow: -1px 1px 5px 0px rgba(219,211,211,0.75);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.headerTitle{
    color: #155a6e;
    font-size: 20px;
    font-weight: 600;
    width: 40%;
}

@media screen and (min-width: 320px) and (max-width:480px)  {
    .headerContainer .headerTitle {
     color: #155a6e;
     font-size: 11px !important;
     font-weight: 600;
     width: 30% !important;
    }
    .headerContainer{
        margin: 0.99rem 0rem;
    }
    
   }


   .headContainer{
       margin: 1rem 0rem;
       padding-left: 1rem;
   }

   .userTitle{
       font-size: 13px;
   }

   .userName{
       font-size: 2rem;
       font-weight: 700;
       color: var(--main-theme-color);
   }

   .tableView{
       display: grid;
       grid-template-columns: auto 2.5rem 4rem auto;
       align-items: center;
   }
   .tableView div:first-child{
       font-size: 1rem;
       color: rgb(68, 65, 65);
       font-weight: 500;
   }
   .editIcon svg{
       color: var(--main-theme-color);
       font-size: 1.5rem;
       margin-left: 5px;
   }
   .countView{
       color: gray;
   }
   .tableView div:last-child{
       color: gray;
       font-size: 1rem;
   }
   .mainValue{
       display: flex;
       align-items: center;
       margin-bottom: 0.5rem;
   }
   .mainValue div:first-child{
       color: var(--main-theme-color);
       font-weight: 600;
       font-size: 1.3rem;
       margin-right: 0.5rem;
   }
   .mainValue div:last-child{
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0.5rem;
    color: gray;
}

.subHeader{
    color: var(--main-theme-color);
    font-size: 1rem;
    font-weight: 500;
}