.headerContainer{
    width: 100%;
    margin: 0.2rem 0px 1rem 0rem;
    padding: 0.2rem 1rem;
    box-shadow: -1px 1px 5px 0px rgba(219,211,211,0.75);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.headerTitle{
    color: #155a6e;
    font-size: 20px;
    font-weight: 600;
    width: 40%;
}

@media screen and (min-width: 320px) and (max-width:480px)  {
    .headerContainer .headerTitle {
     color: #155a6e;
     font-size: 11px !important;
     font-weight: 600;
     width: 30% !important;
    }
    .headerContainer{
        margin: 0.99rem 0rem;
    }
    
   }


   .headContainer{
       margin: 1rem 0rem;
       padding-left: 1rem;
   }

   .userTitle{
       font-size: 13px;
   }

   .userName{
       font-size: 2rem;
       font-weight: 700;
       color: var(--main-theme-color);
   }