.btnShow{
    display: grid;
    grid-template-columns: 7rem 7rem;
}
.btnShow button{
    margin-right: 10px;
}

/* Modal */
.labeltxt{
    color: var(--main-theme-color);
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}